{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "rules": {
    "semi": [2,"never"],
    "no-unexpected-multiline": 1,
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 0,
    "babel/array-bracket-spacing": 1,
    "babel/object-curly-spacing": 0,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 0,
    "babel/no-await-in-loop": 1
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "plugins": [
    "babel"
  ],
  "modules": true,
  "root": true
}
