*.cache
*.iws
*.log
*.log*
*.map
*.pid
*.seed
*.sublime-workspace
._*
.Apple*
.DS_Store
.eslintcache
.idea/
.sass-cache/
.Trashes
.VolumeIcon.icns
benchmark/
build/
coverage/
lib/
logs/
node_modules/
